#nome {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

div.name {
    border-bottom: 1px solid #875a70;
    margin-bottom: 15px;
}

#descricao {
    font-family: cursive;
}
body {

}
.palavras-negrito {
    font-weight: bold;
}
.fonte-lighter {
    font-weight: lighter;
}
.tamanho-fonte {
    font-size: 20px;
}
div.initial {
    position: relative;
    bottom: 235px;
    left: 260px;
    max-width: 600px;
    text-align: justify;
    border-bottom: 1px solid #875a70;
    z-index: 1;
}

div.name {
    text-align: center;
}

#foto {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    border: 10px solid #875a70;
}
  
div.outras_descricoes {
    position: relative;
    bottom: 170px;
}

div.habilidades, div.redes, div.indice {
    border-top: 1px solid #875a70;
    padding-top: 15px;
    margin-top: -10px;
}

div.habilidades {
    padding-top: 5px;
}

div.total {
    padding: 25px;
}

div.minhas_redes {
    padding-top: 2px;
}

div.about_me {
    background-color: #875a70;
    padding: 1px 20px;
    color: white;
    margin-top: -5px;
}

p, li {
    line-height: 22px;
}