#nome {
    font-family: 'Times New Roman', Times, serif;
}
#descricao {
    font-family: cursive;
}
body {
    background-color: #96b2cf;
}
.palavras-negrito {
    font-weight: bold;
}
.fonte-lighter {
    font-weight: lighter;
}
.tamanho-fonte {
    font-size: 20px;
}
div.initial {
    position: relative;
    bottom: 215px;
    left: 240px;
    max-width: 500px;
    text-align: justify;
    border-bottom: 1px solid #875a70;
}

div.name {
    padding-top: 10px;
    text-align: center;
}
#foto {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    border: 10px solid #875a70;
}

div.outras_descricoes {
    position: relative;
    bottom: 150px;
}

div.habilidades, div.redes, div.indice, div.about_me {
    border-top: 1px solid #875a70;
    padding-top: 15px;
    margin-top: -10px;
    margin-bottom: px;
}

div.habilidades, div.about_me {
    padding-top: 5px;
}

div.total {
    padding-left: 20px;
    padding-right: 20px;
}

div.minhas_redes {
    padding-top: 2px;
}